*{
  padding: 0;
  margin: 0;
}
.clearfloat:after{display:block;clear:both;content:"";visibility:hidden;height:0}
.clearfloat{zoom:1}
.wrap{
  width: 980px;
  margin: 0 auto;
  border-radius: 10px;
}
ul{
  list-style: none;
}
.hide{
  display: none;
}
.header{
  width: 100%;
  height: 80px;
  /*background: #4e58a0;*/
  background: #4e58a0;
}
.header h3{
  color: white;
  line-height: 80px;
  padding-left: 80px;
  display: inline-block;
  position: relative;
}
.header span i{
  display: inline-block;
  font-size: 30px;
  position: absolute;
  top: 25px;
}
.left_list {
  width: 200px;
  height: 550px;
  /*background: #272C33;*/
  background: #30336b;
  margin-top: 15px;
  margin-left: 55px;
  border-radius: 10px;
  float: left;
  overflow: auto;
}
.left_list a{
  transition: 0.5s ease all ;
}
.left_list a:hover{
  color: #9496A1;
}
/*#C8C9CE    a #9496A1  39,44,51*/
.left_list .title{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 15px;
  width: 150px;
  margin: 0 25px;
  text-align: left;
  line-height: 60px;
  position: relative;
  cursor: pointer;
}
.left_list h3{
  color: white;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 10px;
  cursor: pointer;
}
.left_list .option{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 14px;
  width: 150px;
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
.left_list .title i{
  font-size: 14px;
  position: absolute;
  top: 2px;
}
.option_list{
  display: none;
}
.content{
  width: 950px;
  height: 550px;
  background: #eeeeee;
  float: left;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.file_check_content,.file_up_content,.msg_check_content,.msg_up_content,.paper_check_content,.paper_point_content,.paper_publish_content{
  display: none;
}
.file_check_content{
  overflow-y: auto;
}
.index_content h3{
  font-weight: normal;
  display: block;
  width: 950px;
  line-height: 50px;
  height: 50px;
  text-align: center;
  color: #30336b;
  margin-top: 20px;
  border-bottom: 2px #30336b solid;
  padding-bottom: 20px;
}
.index_content .icon-wenjian{
  display: block;
}
.index_show{
  width: 950px;
  height: 500px;
  position: relative;
}
.index_show .tap{
  height: 300px;
  width: 450px;
  margin-left: 60px;
  margin-top: 60px;
  border: white 2px solid;
  border-radius: 10px;
}
.index_show .tap p{
  padding-top: 20px;
  padding-left: 20px;
  font-size: 14px;
  color: #30336b;
}
.index_show .tap .fast_list{
  display: block;
  height: 240px;
  width: 400px;
  margin: 10px auto;
  padding-top: 20px;
  box-sizing: border-box;
}
.index_show .tap .fast_list li{
  display: block;
  width: 120px;
  height: 60px;
  float: left;
  margin: 10px 5px;
  text-align: center;
  line-height: 60px;
  background: #eeeeee;
  border-radius: 5px;
  border: 2px solid white;
  box-sizing: border-box;
  font-size: 14px;
  transition: 1s all ease;
  cursor: pointer;
}
.index_show .tap .fast_list li:hover{
  background: white;
}
#calendar{
  position: absolute;
  margin-top: -5px;
  margin-right: 20px;
}
.download_box{
  margin-top: 20px;
  margin-left: 50px;
}
#file_hide{
  display: none;
}
#dropz{
  width: 500px;
  height: 250px;
  background: #eeeeee;
  border: 2px dashed #30336b;
  margin: 130px auto;
  border-radius: 10px;
  padding-top: 50px;
}
.msg_list{
  width: 800px;
  height: 500px;
  background: white;
  margin: 20px auto;
  border-radius: 10px;
  overflow: hidden;
}
.msg_list span{
  font-size: 14px;
  margin-right: 25px;
}
.msg_list .title_input{
  height: 40px;
  display: flex;
  justify-content: center;
  line-height: 40px;
  margin-top: 20px;
}
.msg_list .title_input input{
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 300px;
}
.msg_list .title_input input:focus{
  outline: 0;
  border-color: #4e58a0;
}
.msg_list .content_input{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.msg_list .content_input textarea{
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 300px;
  resize: none;
  margin-left: 0;
}
.msg_list .content_input textarea:focus{
  outline: 0;
  border-color: #4e58a0;
}
.msg_list button{
  background-color: #30336b;
  border: 2px solid #30336b;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  margin: 20px auto;
  width: 100px;
  cursor: pointer;
  outline: none;
}
.msg_list button:hover{
  color: #eeeeee;
}
#teacher_hide{
  display: none;
}
.question_list {
  width: 900px;
  height: 400px;
  margin: 25px 50px;
  padding-left: 80px;
  position: relative;
}
.question_list ul{
  list-style: none;
}
.question_list .question_info {
  width: 650px;
  height: 35px;
  background: white;
  border: 1px white solid;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
  margin-top: 5px;
  margin-bottom: 12px;
}
.question_list .question_info:hover {
  background: #eeeeee;
}
.question_list .question_info:hover .icon-shanchu {
  display: inline-block;
}
.question_list ul li div{
  float: left;
  font-size: 14px;
  line-height: 35px;
  margin: 0 20px;
}
.question_list ul li div:nth-child(1) {
  width: 60px;
}
.question_list ul li div:nth-child(2) {
  width: 120px;
}
.question_list ul li div:nth-child(3) {
  width: 280px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.page_list {
  position: absolute;
  top: 450px;
  left: 165px;
}
.question_info {
  display: none;
  text-indent: 5px;
  position: relative;
}
.question_list .c1 {
  display: block;
}
.question_change_content {
  display: none;
}
.question_add {
  width: 40px;
  height: 40px;
  background: #4e58a0;
  position: absolute;
  top: 451px;
  left: 120px;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.sel {
  display: none;
}
.question_form {
  width: 600px;
  height: 500px;
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  padding-left: 140px;
  overflow: auto;
}
.question_option {
  height: 40px;
  line-height: 40px;
}
.question_option span {
  font-size: 14px;
}
#content_text,textarea {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 300px;
  resize: none;
  margin-left: 50px;
  width: 300px;
  margin-bottom: 5px;
}
#content_text,textarea:focus {
  outline: 0;
  border-color: #4e58a0;
}
#single_select {
  margin-bottom: 10px;
}
.answer_option {
  margin-left: 90px;
}
.answer_option label {
  margin-right: 20px;
}
#question_submit {
  width: 50px;
  height: 40px;
  background: #4e58a0;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
  margin-left: 180px;
  margin-top: 20px;
}
#multi_select {
  margin-bottom: 10px;
}
select {
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  outline: #4e58a0;
}
select:focus {
  border-color: #4e58a0;
}

.publish_container {
  height: 500px;
  width: 800px;
  background-color: #ffffff;
  margin: 25px auto;
  border-radius: 10px;
  position: relative;
}
.publish_container .paper_name {
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 180px;
}
.publish_container .paper_name:focus {
  outline: 0;
  border-color: #4e58a0;
}
.publish_container button{
  width: 60px;
  height: 40px;
  font-size: 14px;
  background: #4e58a0;
  border: none;
  border-radius: 5px;
  color: #eeeeee;
  position: absolute;
  cursor: pointer;
  bottom: 90px;
  outline: none;
}
.publish_container .publish {
  left: 320px;
  width: 130px;

}
.publish_container .options span {
  font-size: 14px;
}
.paper {
  width: 700px;
  height: 430px;
  margin: 10px auto;
  padding-top: 20px;
}
.publish_container .options{
  height: 30px;
  line-height: 30px;
  position: relative;
  padding-left: 180px;
  padding-top: 100px;
}
.publish_container .options .select {
  position: absolute;
  top: 95px;
  left: 282px;
}
.icon-shanchu {
  position: absolute;
  top: 10px;
  color: red;
  display: none;
}
